<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <title>Asset Returns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
</head>
<body>
    <h1>Samsara Inegration Demo: Asset Time Series Plots</h1>
    <h2>Abient Temperature Over Time (F)</h2>
    <div id="chart-container-temp", class="plot-container", style="width:100%; height:450px;"></div>

    <hr>
    <h2>Door State Over Time (0=Closed, 1=Open)</h2>
    <div id="chart-container-door", class="plot-container", style="width:100%; height:450px;"></div>

    <script>
        // get temperature plot data from Flask and plot
        var graphJsonTemp = JSON.parse('{{ plot_json_temp | safe }}');
        Plotly.newPlot('chart-container-temp', 
            graphJsonTemp.data, 
            graphJsonTemp.layout, 
            {responsive: true}
        );

        // get door state plot data from Flask and plot
        var graphJsonDoor = JSON.parse('{{ plot_json_door | safe }}');
        Plotly.newPlot('chart-container-door', 
            graphJsonDoor.data, 
            graphJsonDoor.layout, 
            {responsive: true}
        );
        
    </script>
</body>
</html>